<%- include("partials/header") -%>

    <div class="row gx-0">

        <div class="col-8 gx-0 ">

            <div class="c1">
                <h1>Home</h1>

                <p style="margin-top: 2rem; ">
                    <%=homeText%>
                </p>


                <% posts.forEach((post)=>{%>

                    <h1 style="margin-top: 6rem; ">
                        <%=post.title%>
                    </h1>

                    <img style="margin-top: 2rem;" src=<%=post.image%>>

                    <p style="margin-top: 2rem; ">
                        <%=post.content%>
                    </p>

                    <% }) %>
            </div>
        </div>


        <div class="col-4 gx-0">
            <div class="c2">
                helhe
            </div>
        </div>

    </div>




    <%- include("partials/footer") -%>
